<head>
	<style type="text/css">
	.fa-search {
		color:green;
		font-weight: bold;
	}


      .table-responsive{
        overflow-y: initial;
      }

	@media (max-width: 768px) {
	    .table-responsive .dropdown-menu {
	        position: static !important;
	    }

	}

	@media (min-width: 768px) {
	    .table-responsive {
	        overflow: visible;
	    }
	}
      .fa-cog{
        cursor: pointer;
      }
	</style>
</head>

<div class="main-content">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2 class="text-center">Resumen</h2>
				<h4 class="text-center">[[context.maxDate|date:'yyyy'|capitalize]]</h4>
			</div>
			<div class="panel-body">
	        <div class="row button-row">

	           <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
	              <button ng-click="open1()" title="Buscar por mes" class="btn btn-info" type="button">
	                <i class="fa fa-calendar" aria-hidden="true"></i>
	              </button>  
	        <p class="input-group">
	          <input type="text" show-button-bar ="false" ng-change="queryDate()" uib-datepicker-popup="[[format]]" ng-model="dt" is-open="popup1.opened" datepicker-popup="MM/yyyy"  datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" ng-show="false">
	        </p>
	
	            </div>



	          
	          </div>


	        </div>
	        	<div class="table-responsive">
					<table class="table table-bordered table-condensed">
						<thead>
							<tr>
								<th class="text-center">Acciones</th>
								<th class="text-center">Mes</th>
								<th class="text-center">Balance inicio de mes</th>
								<th class="text-center">Pagos</th>
								<th class="text-center">Cobranzas</th>
								<th class="text-center">Cuota</th>
								<th class="text-center">Balance fin de mes</th>
							</tr>
							<tr>
								<th class="text-center">-</th>
								<th class="text-center">-</th>
								<th class="text-center">[[context.results|sumKeys:'deuda_previa'|number:2|accounting:userData.detalles_usuario.pais.moneda]]</th>
								<th class="text-center">[[context.results|sumKeys:'pagos'|number:2|accounting:userData.detalles_usuario.pais.moneda]]</th>
								<th class="text-center">[[context.results|sumKeys:'cobranzas_total'|number:2|accounting:userData.detalles_usuario.pais.moneda]]</th>
								<th class="text-center">[[context.results|sumKeys:'cuota'|number:2|accounting:userData.detalles_usuario.pais.moneda]]</th>
								<th class="text-center">[[context.results|sumKeys:'monto'|number:2|accounting:userData.detalles_usuario.pais.moneda]]</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="resumen in context.results">
								<td align="center">
				                  <span uib-dropdown on-toggle="toggled(open)">
				                    <span href id="simple-dropdown" uib-dropdown-toggle>
				                      <i title="acciones" class="fa fa-cog fa-2x" aria-hidden="true"></i>
				                    </span>
				                    <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
				                      <li>
				                        <a ng-click ="getPDFReport(resumen)" href><i class="fa fa-search"></i> Ver reporte</a>

				                      </li>
				                    </ul>
				                  </span>
								</td>
								<td align="center">[[resumen.mes|date:'MMMM yyyy'|capitalize]]</td>
								<td align="center">[[resumen.deuda_previa|number:2|accounting:userData.detalles_usuario.pais.moneda]]</td>
								
								<td align="center">[[resumen.pagos|number:2|accounting:userData.detalles_usuario.pais.moneda]]</td>
								
								<td align="center">[[resumen.cobranzas_total|number:2|accounting:userData.detalles_usuario.pais.moneda]]</td>
								<td align="center">[[resumen.cuota|number:2|accounting:userData.detalles_usuario.pais.moneda]]</td>
								<td align="center">[[resumen.monto|number:2|accounting:userData.detalles_usuario.pais.moneda]]</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

  </div>
</div>


