
      <ul class="nav navbar-nav navbar-right">

                      <!--AUTHENTICATED ELEMENTS-->
        <li>
          <a class="text-center"  ng-if ="userAuthenticated">[[nombre_completo|capfirstlettereachword]] 

          </a>
        </li>
        <li><a href="#/perfil" class="text-center" ng-if ="userAuthenticated"><i class="fa fa-user"></i> Perfil</a></li>
        <li><a href="#/inicio" class="text-center hidden-sm hidden-md hidden-lg hidden-xl"><i class="fa fa-home fa-lg"></i> Inicio<span class="sr-only">(current)</span></a></li>
        <li ng-class="{'active' : currentView =='/resumen_propietario'}"><a href="#/resumen_propietario" class="text-center hidden-sm hidden-md hidden-lg hidden-xl"><i class="fa fa-dashboard fa-lg"></i> Resumen</a></li>
        <li class="text-center hidden-sm hidden-md hidden-lg hidden-xl" ng-class="{active : currentView =='/select_inmueble'}"><a href="#/select_inmueble"><i class="fa fa-building fa-lg"></i> Ver Inmueble(s)</a></li>

        <li class="text-center hidden-sm hidden-md hidden-lg hidden-xl" ng-class="{active : currentView =='/pagos_inquilino'}"><a href="#/pagos_inquilino"><i class="fa fa-money fa-lg"></i> Pagos</a></li>
        <li class="text-center hidden-sm hidden-md hidden-lg hidden-xl" ng-class="{active : currentView =='/cobranzas_propietario'}"><a href="#/cobranzas_propietario"><i class="fa fa-bullhorn fa-lg"></i> Cobranzas</a></li>

        <li class="text-center hidden-sm hidden-md hidden-lg hidden-xl" ng-class="{active : currentView =='/junta_condominio'}"><a href="#/junta_condominio"><i class="fa fa-users fa-lg"></i> Junta de Condominio</a></li>
        <li ng-class="{active : currentView =='/encuestas'}" class="text-center hidden-sm hidden-md hidden-lg hidden-xl"><a href="#/encuestas"><i class="fa fa-handshake-o fa-lg"></i> Encuestas</a></li>

        <li ng-class="{active : currentView =='/relacion_mes'}" class="text-center hidden-sm hidden-md hidden-lg hidden-xl"><a href="#/relacion_mes"><i class="fa fa-balance-scale fa-lg"></i> Relaciones de Cuotas</a></li>

        <li ng-class="{active : currentView =='/ingresos'}" class="text-center hidden-sm hidden-md hidden-lg hidden-xl"><a href="#/ingresos"><i class="fa fa-plus fa-lg"></i> Ingresos del Condominio</a></li>
        
        <li ng-class="{active : currentView =='/egresos'}" class="text-center hidden-sm hidden-md hidden-lg hidden-xl"><a href="#/egresos"><i class="fa fa-minus fa-lg"></i> Egresos del Condominio</a></li>

        <li class="text-center hidden-sm hidden-md hidden-lg hidden-xl" ng-class="{active : currentView =='/paginas_amarillas'}"><a href="#/paginas_amarillas"><i class="fa fa-book fa-lg"></i> Parginas Amarillas</a></li>

        <li><a href="" class="text-center"  ng-click="salir()" class="text-center" ng-if ="userAuthenticated"><i class="fa fa-sign-out" aria-hidden="true"></i> Salir</a></li>
      </ul>
