<head>
  <style type="text/css">
    <style>
      .full button span {
        background-color: limegreen;
        border-radius: 32px;
        color: black;
      }
      .partially button span {
        background-color: orange;
        border-radius: 32px;
        color: black;
      }
      .bg-danger{
        border-radius: 8px;
      }
      .fa-check-square{
        color:green;
      }
      .instructions{
        font-size:16px;
      }
      .instructions .fa-cog{
        font-size:1.5em;
      }
      .fa-check-square{
        font-size: 1.3em;
      }
    </style>
  </style>
</head>
<form ng-submit ="PostCategory()" name="categoriaInmuebleForm" novalidate>
  <div class="modal-header">
    <h3 class="text-center">Categorias</h3>
  </div>
  <div class="modal-body">
    <ul class="fa-ul">
      <li><i class="fa-li fa fa-check-square"></i>
        Asignar categorias es opcional.
      </li>  
      <li><i class="fa-li fa fa-check-square"></i>
        Categorizar sus inmuebles le permitira agruparlos segun su tipo. Por ejemplo <i>podria agrupar por piso, por tipo de propiedad, si es terreno, casa, etc.</i>
      </li>
    </ul>
    <div class="well instructions">
      <ol>
        <li>Crear Categoria.</li>
        <li>Seleccionar inmuebles que desea agrupar.</li>
        <li> Hacer click en <i class="fa fa-cog"></i> en esta ventana y seleccionar "Asignar a seleccion".</li>
      </ol>     
    </div>


    <div class="form-group has-feedback" ng-class="{ 'has-success' : categoriaInmuebleForm.name.$valid && (categoriaInmuebleForm.name.$touched ||categoriaInmuebleForm.name.$dirty), 'has-error' : !categoriaInmuebleForm.name.$valid && (categoriaInmuebleForm.name.$touched ||categoriaInmuebleForm.name.$dirty) }">
      <label class="sr-only">Nombre:</label>
      <div class="input-group">
        <input black-list-arr2="categories" black-list-arr="black_list" type="text" placeholder="Nombre de categoria a crear" name="name" ng-model="formData.name" class="form-control" autocomplete="off" required>
        <span class="input-group-btn">
          <button title="Registrar" ng-disabled="!categoriaInmuebleForm.$valid" type="submit" class="btn btn-success">
            <i class="fa fa-plus"></i>
          </button>
        </span>
      </div>
      
      <span class="glyphicon form-control-feedback" ng-class="{'glyphicon-ok' : categoriaInmuebleForm.nombre.$valid && (categoriaInmuebleForm.name.$dirty||categoriaInmuebleForm.name.$touched), 'glyphicon-remove': (categoriaInmuebleForm.name.$invalid && (categoriaInmuebleForm.name.$dirty ||categoriaInmuebleForm.name.$touched )) }" aria-hidden="true"></span>
      <div class="text-center">
        <div ng-messages="categoriaInmuebleForm.name.$error" style="color:maroon" role="alert">
           <code ng-if="categoriaInmuebleForm.name.$touched" ng-message="required">
            <strong>Campo obligatorio</strong>
           </code>

           <code ng-if="categoriaInmuebleForm.name.$touched" ng-message="blackListArr">
            <strong>Nombre ya existe o prohibido</strong>
           </code>
        </div>
      </div>
    </div>
</form>


    <table class="table table-striped table-condensed">
      <thead>
        <tr>
          <th>Accion</th>
          <th class="text-center">Nombre</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="category in categories">
          <td>
            <span uib-dropdown on-toggle="toggled(open)">
              <span href id="simple-dropdown" uib-dropdown-toggle>
                <i title="acciones" class="fa fa-cog fa-2x" aria-hidden="true"></i>
              </span>
              <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                <li>
                  <a ng-click ="assignCategory(category)" href>
                  <i class="fa fa-link" aria-hidden="true"></i>
                   Asignar a seleccion
                  </a>
                </li>
                <li>
                  <a ng-click ="deLink(category)" href>
                  <i class="fa fa-chain-broken" aria-hidden="true"></i>
                   Desligar categorias de seleccion
                  </a>
                </li>
                <li>
                  <a ng-click ="eliminate(category)" href>
                  <i class="fa fa-ban"></i>
                   Eliminar Categoria
                  </a>
                </li>
                <li>
                  <a ng-click ="category.show=true" href>
                  <i class="fa fa-pencil"></i>
                   Modificar Categoria
                  </a>
                </li>

              </ul>
            </span>
          </td>
          <td ng-if="category.show!=true" class="text-center">[[category.name]]</td>
          <td ng-if="category.show==true" class="text-center">
          <form ng-submit="modify(category)" name="categoryForm" novalidate>
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-btn">
                  <button title="Guardar" type="submit" class="btn btn-primary">
                    <i class="fa fa-floppy-o"></i>
                  </button>
                  <button title="Cancelar" type="button" ng-click="category.show=false" class="btn btn-danger">
                    <i class="fa fa-times"></i>
                  </button>
                </span>
                 <input type="text" placeholder="Nombre" name="modName_[[category.id]]" ng-model="category.name" class="form-control" ng-model-options="{ updateOn: 'submit' }" required>
              </div>
            </div>            
          </form>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
  <div class="modal-footer">

      <button type="button" class="btn btn-default" ng-click="cancel()">Cerrar</button>
  </div>
