<head>
  <style type="text/css">
    <style>
      .full button span {
        background-color: limegreen;
        border-radius: 32px;
        color: black;
      }
      .partially button span {
        background-color: orange;
        border-radius: 32px;
        color: black;
      }
    </style>
  </style>
</head>
<form ng-submit ="agregarEncuesta()" name="agregarEncuestaForm" novalidate>
  <div class="modal-header">
    <h2 class="text-center">Agregar encuesta</h2>
    <!-- <h4 class="text-center">[[minDate|date:'MMMM yyyy':'UTC'|capitalize]]</h4> -->
  </div>
  <div class="modal-body">
      <p class="bg-warning text-center"> Tome en cuenta que la pregunta debe ser planteada de una manera que pueda ser respondida con <b>"SI"</b> o <b>"NO"</b></p>
    <div class="form-group has-feedback" ng-class="{ 'has-success' : agregarEncuestaForm.question.$valid && (agregarEncuestaForm.question.$touched || agregarEncuestaForm.$submitted||agregarEncuestaForm.question.$dirty), 'has-error' : !agregarEncuestaForm.question.$valid && (agregarEncuestaForm.question.$touched || agregarEncuestaForm.$submitted||agregarEncuestaForm.question.$dirty) }">
      <label class="sr-only">Pregunta</label>
      <input type="text" placeholder="Pregunta" name="question" ng-model="encuestaFormData.question" class="form-control" autocomplete="off" required>
      <span class="glyphicon form-control-feedback" ng-class="{'glyphicon-ok' : agregarEncuestaForm.question.$valid && (agregarEncuestaForm.question.$dirty||agregarEncuestaForm.question.$touched), 'glyphicon-remove': (agregarEncuestaForm.question.$invalid && (agregarEncuestaForm.question.$dirty || agregarEncuestaForm.$submitted||agregarEncuestaForm.question.$touched )) }" aria-hidden="true"></span>
      <div class="text-center">
        <div ng-messages="agregarEncuestaForm.question.$error" style="color:maroon" role="alert">
           <code ng-if="agregarEncuestaForm.question.$touched || agregarEncuestaForm.$submitted" ng-message="required">
            <strong>Campo obligatorio</strong>
           </code>
        </div>
      </div>
    </div>


     <div class="form-group has-feedback" ng-class="{ 'has-success' : agregarEncuestaForm.start.$valid && (agregarEncuestaForm.start.$touched || agregarEncuestaForm.$submitted||agregarEncuestaForm.start.$dirty), 'has-error' : !agregarEncuestaForm.start.$valid && (agregarEncuestaForm.start.$touched || agregarEncuestaForm.$submitted||agregarEncuestaForm.start.$dirty) }">
      <label class="sr-only">Fecha de inicio</label>

      <div class="input-group">
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="open()"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
        <input readonly placeholder="Fecha de inicio" type="text" name="start" class="form-control" current-text="Hoy" close-text="Cerrar" clear-text ="Borrar" uib-datepicker-popup="[[format]]" ng-model="encuestaFormData.start" is-open="popup1.opened" datepicker-options="dateOptions" ng-change="setEnd()" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
      </div>


      <span class="glyphicon form-control-feedback" ng-class="{'glyphicon-ok' : agregarEncuestaForm.start.$valid && (agregarEncuestaForm.start.$dirty||agregarEncuestaForm.start.$touched), 'glyphicon-remove': (agregarEncuestaForm.start.$invalid && (agregarEncuestaForm.start.$dirty || agregarEncuestaForm.$submitted||agregarEncuestaForm.start.$touched )) }" aria-hidden="true"></span>
      <div class="text-center">
        <div ng-messages="agregarEncuestaForm.start.$error" style="color:maroon" role="alert">
           <code ng-if="agregarEncuestaForm.start.$touched || agregarEncuestaForm.$submitted" ng-message="required">
            <strong>Campo obligatorio</strong>
           </code>
        </div>
      </div>
    </div>



    <div class="form-group has-feedback" ng-class="{ 'has-success' : agregarEncuestaForm.end.$valid && (agregarEncuestaForm.end.$touched || agregarEncuestaForm.$submitted||agregarEncuestaForm.end.$dirty), 'has-error' : !agregarEncuestaForm.end.$valid && (agregarEncuestaForm.end.$touched || agregarEncuestaForm.$submitted||agregarEncuestaForm.end.$dirty) }">
      <label for="end" class="sr-only">Duracion</label>
      <select name="end" ng-model="duracion" class="form-control" ng-change="setEnd()" required>
        <option value="">Duracion</option>
        <option value="1">1 Dia</option>
        <option value="2">2 Dias</option>
        <option value="3">3 Dias</option>
        <option value="4">4 Dias</option>
        <option value="5">5 Dias</option>
        <option value="6">6 Dias</option>
        <option value="7">1 Semana</option>
      </select> 
      <span class="glyphicon form-control-feedback" ng-class="{'glyphicon-ok' : agregarEncuestaForm.end.$valid && (agregarEncuestaForm.end.$dirty||agregarEncuestaForm.end.$touched), 'glyphicon-remove': (agregarEncuestaForm.end.$invalid && (agregarEncuestaForm.end.$dirty || agregarEncuestaForm.$submitted||agregarEncuestaForm.end.$touched )) }" aria-hidden="true"></span>
      <div class="text-center">
        <div ng-messages="agregarEncuestaForm.end.$error" style="color:maroon" role="alert">
           <code ng-if="agregarEncuestaForm.end.$touched || agregarEncuestaForm.$submitted" ng-message="required">
            <strong>Campo obligatorio</strong>
           </code>
        </div>
      </div>
    </div>


    <div class="form-group has-feedback" ng-class="{ 'has-success' : agregarEncuestaForm.details.$valid && (agregarEncuestaForm.details.$touched || agregarEncuestaForm.$submitted||agregarEncuestaForm.details.$dirty), 'has-error' : !agregarEncuestaForm.details.$valid && (agregarEncuestaForm.details.$touched || agregarEncuestaForm.$submitted||agregarEncuestaForm.details.$dirty) }">
      <label for="details" class="sr-only">Detalles</label>
      <input type="text" placeholder="Detalles" name="details" ng-model="encuestaFormData.details" class="form-control" required>
      <span class="glyphicon form-control-feedback" ng-class="{'glyphicon-ok' : agregarEncuestaForm.details.$valid && (agregarEncuestaForm.details.$dirty||agregarEncuestaForm.details.$touched), 'glyphicon-remove': (agregarEncuestaForm.details.$invalid && (agregarEncuestaForm.details.$dirty || agregarEncuestaForm.$submitted||agregarEncuestaForm.details.$touched )) }" aria-hidden="true"></span>
      <div class="text-center">
        <div ng-messages="agregarEncuestaForm.details.$error" style="color:maroon" role="alert">
           <code ng-if="agregarEncuestaForm.details.$touched || agregarEncuestaForm.$submitted" ng-message="required">
            <strong>Campo obligatorio</strong>
           </code>
        </div>
      </div>
    </div>





  </div>
  <div class="modal-footer">
      <input type="submit"  value="Registrar" class="btn btn-success btn-block" ng-disabled="!agregarEncuestaForm.$valid">
      <button type="button" class="btn btn-default btn-block" ng-click="cancel()">Cerrar</button>
  </div>
</form>