<head>
	<style type="text/css">
		form[name="CobranzaForm"] .radios input[type="text"]{
			text-align: center;
		}
		.radio_error{
			border: 2px solid #C12E2A;
			padding: 5px;
		}
	</style>
</head>
<form ng-submit="post()" name="CobranzaForm" novalidate>
	<div class="modal-header">
		<h3 class="text-center">Registrar Cobranza</h3>
	</div>
	<div class="modal-body">
		<p>Estimado usuario, aca podra enviar cobranzas como multas, alquileres, etc.</p>
		<ul>
			<li><a href="" ng-click="getUrl('inmuebles')">Las categorias</a> que haya cargado seran opciones en destinatario</li>
			<li>Las cobranzas <u>NO</u> seran registradas como egresos. Para egresos personalizados debe ir a <a href="" ng-click="getUrl('relacion_mes')">relaciones de cuotas</a>( se registran a la hora de generar la relacion/corte mensual). Los demas egresos se rigen segun ley horizontal en <a href=""  ng-click="getUrl('egresos')">egresos</a></li>
		</ul>

	    <div class="form-group has-feedback" ng-class="{ 'has-success' : CobranzaForm.destinatario.$valid && (CobranzaForm.destinatario.$touched || CobranzaForm.$submitted||CobranzaForm.destinatario.$dirty), 'has-error' : !CobranzaForm.destinatario.$valid && (CobranzaForm.destinatario.$touched || CobranzaForm.$submitted||CobranzaForm.destinatario.$dirty) }">
	      	<label class="sr-only">Destinatario(s)</label>
<!-- 			<input type="text" placeholder="Inmueble" name="inmueble" ng-model="cobranza_data.inmuebleTA" uib-typeahead="get_property(item)|capfirstlettereachword for item in inmuebles | filter:$viewValue | limitTo:8" class="form-control" typeahead-on-select="onSelect($item, $model, $label)" autocomplete="off" typeahead-editable="false" required> -->
		<select ng-model="cobranza_data.destinatario" class="form-control" name="destinatario" required>
			<option value="" disabled>Destinatario</option>
				<option value="especifico">Inmueble especifico</option>
				<option value="retrasados">Inmuebles con retraso</option>
                <option value="todos">Todos los inmuebles</option>
<!--                 <option value="no_arrendado">Propietarios</option>
                <option value="arrendado">Arrendatarios</option> -->
                <option ng-repeat="category in categories" value="[[category.id]]">[[category.name]]</option>
		</select>
	      <span class="glyphicon form-control-feedback" ng-class="{'glyphicon-ok' : CobranzaForm.destinatario.$valid && (CobranzaForm.destinatario.$dirty||CobranzaForm.destinatario.$touched), 'glyphicon-remove': (CobranzaForm.destinatario.$invalid && (CobranzaForm.destinatario.$dirty || CobranzaForm.$submitted||CobranzaForm.destinatario.$touched )) }" aria-hidden="true"></span>
	      <div class="text-center">
	        <div ng-messages="CobranzaForm.destinatario.$error" style="color:maroon" role="alert">
	           <code ng-if="CobranzaForm.destinatario.$touched || CobranzaForm.$submitted" ng-message="required">
	            <strong>Campo obligatorio</strong>
	           </code>
	        </div>
	      </div>
	    </div>


	    <div class="form-group has-feedback" ng-class="{ 'has-success' : CobranzaForm.inmueble.$valid && (CobranzaForm.inmueble.$touched || CobranzaForm.$submitted||CobranzaForm.inmueble.$dirty), 'has-error' : !CobranzaForm.inmueble.$valid && (CobranzaForm.inmueble.$touched || CobranzaForm.$submitted||CobranzaForm.inmueble.$dirty) }">
	      	<label class="sr-only">Inmueble</label>
			<input ng-disabled="cobranza_data.destinatario!='especifico'" type="text" placeholder="Inmueble" name="inmueble" ng-model="cobranza_data.inmuebleTA" uib-typeahead="get_property(item)|capfirstlettereachword for item in inmuebles | filter:$viewValue | limitTo:8" class="form-control" typeahead-on-select="onSelect($item, $model, $label)" autocomplete="off" typeahead-editable="false" ng-required="cobranza_data.destinatario=='especifico'">

	      <span class="glyphicon form-control-feedback" ng-class="{'glyphicon-ok' : CobranzaForm.inmueble.$valid && (CobranzaForm.inmueble.$dirty||CobranzaForm.inmueble.$touched), 'glyphicon-remove': (CobranzaForm.inmueble.$invalid && (CobranzaForm.inmueble.$dirty || CobranzaForm.$submitted||CobranzaForm.inmueble.$touched )) }" aria-hidden="true"></span>
	      <div class="text-center">
	        <div ng-messages="CobranzaForm.inmueble.$error" style="color:maroon" role="alert">
	           <code ng-if="CobranzaForm.inmueble.$touched || CobranzaForm.$submitted" ng-message="required">
	            <strong>Campo obligatorio</strong>
	           </code>
	        </div>
	      </div>
	    </div>

	    <div class="form-group has-feedback" ng-class="{ 'has-success' : CobranzaForm.asunto.$valid && (CobranzaForm.asunto.$touched || CobranzaForm.$submitted||CobranzaForm.asunto.$dirty), 'has-error' : !CobranzaForm.asunto.$valid && (CobranzaForm.asunto.$touched || CobranzaForm.$submitted||CobranzaForm.asunto.$dirty) }">
	      	<label class="sr-only">Asunto</label>
	   		<input type="text" placeholder="Asunto" name="asunto" ng-model="cobranza_data.asunto" class="form-control" autocomplete="off" required> 
	      <span class="glyphicon form-control-feedback" ng-class="{'glyphicon-ok' : CobranzaForm.asunto.$valid && (CobranzaForm.asunto.$dirty||CobranzaForm.asunto.$touched), 'glyphicon-remove': (CobranzaForm.asunto.$invalid && (CobranzaForm.asunto.$dirty || CobranzaForm.$submitted||CobranzaForm.asunto.$touched )) }" aria-hidden="true"></span>
	      <div class="text-center">
	        <div ng-messages="CobranzaForm.asunto.$error" style="color:maroon" role="alert">
	           <code ng-if="CobranzaForm.asunto.$touched || CobranzaForm.$submitted" ng-message="required">
	            <strong>Campo obligatorio</strong>
	           </code>
	        </div>
	      </div>
	    </div>
			<div class="form-group radios" ng-class="{'radio_error': CobranzaForm.$submitted&&!CobranzaForm.tipo_de_ingreso.$valid}">
	    	<div class="row">
	    		<div class="col-xs-12 col-sm-6">
				  <label>
				    <input type="radio" name="tipo_de_ingreso" ng-model="cobranza_data.tipo_monto" value="monto" ng-required="!cobranza_data.tipo_de_ingreso">
				    Monto
				  </label>
	    		</div>
	    		<div class="col-xs-12 col-sm-6">
	    			<div class="form-group has-feedback" ng-class="{ 'has-success' : CobranzaForm.monto.$valid && (CobranzaForm.monto.$touched || CobranzaForm.$submitted||CobranzaForm.monto.$dirty), 'has-error' : !CobranzaForm.monto.$valid && (CobranzaForm.monto.$touched || CobranzaForm.$submitted||CobranzaForm.monto.$dirty) }">
	    				<div class="input-group">
	    					<span class="input-group-addon">
	    						<b>[[userData.detalles_usuario.pais.moneda]]</b>
	    					</span>
	    					<input ui-number-mask ng-disabled="cobranza_data.tipo_monto!='monto'" ng-model="cobranza_data.monto" name="monto" class="form-control" type="text" placeholder="Monto" name="tipo_monto" ng-required="cobranza_data.tipo_monto=='monto'">
	    				</div>
	    				
	    			<span class="glyphicon form-control-feedback" ng-class="{'glyphicon-ok' : CobranzaForm.monto.$valid && (CobranzaForm.monto.$dirty||CobranzaForm.monto.$touched), 'glyphicon-remove': (CobranzaForm.monto.$invalid && (CobranzaForm.monto.$dirty || CobranzaForm.$submitted||CobranzaForm.monto.$touched )) }" aria-hidden="true"></span>
	    			</div>
	    		</div>
	    	</div>

	    	<div class="row">
	    		<div class="col-xs-12 col-sm-6">
				  <label>
				    <input type="radio" name="tipo_monto" ng-model="cobranza_data.tipo_monto" value="porcEgresos" ng-required="!cobranza_data.tipo_de_ingreso">
				    Porcentaje de cuota del mes
				  </label>
	    		</div>
	    		<div class="col-xs-12 col-sm-6">
	    			<div class="form-group has-feedback" ng-class="{ 'has-success' : CobranzaForm.porcentaje.$valid && (CobranzaForm.porcentaje.$touched || CobranzaForm.$submitted||CobranzaForm.porcentaje.$dirty), 'has-error' : !CobranzaForm.porcentaje.$valid && (CobranzaForm.porcentaje.$touched || CobranzaForm.$submitted||CobranzaForm.porcentaje.$dirty) }">
	    				<div class="input-group">
	    					<span class="input-group-addon"><i class="fa fa-percent"></i></span>
							<input ng-disabled="cobranza_data.tipo_monto!='porcEgresos'" max="100" ui-percentage-mask="2" type="text" ng-model="cobranza_data.porcentaje" placeholder="%" class="form-control" name="porcentaje" ng-required="cobranza_data.tipo_monto=='porcEgresos'">
	    				</div>
						<span class="glyphicon form-control-feedback" ng-class="{'glyphicon-ok' : CobranzaForm.porcentaje.$valid && (CobranzaForm.porcentaje.$dirty||CobranzaForm.porcentaje.$touched), 'glyphicon-remove': (CobranzaForm.porcentaje.$invalid && (CobranzaForm.porcentaje.$dirty || CobranzaForm.$submitted||CobranzaForm.porcentaje.$touched )) }" aria-hidden="true"></span>
	    			</div>
	    		</div>
	    	</div>
	    </div>
	    <hr>
	    <div class="form-group" ng-class="{'radio_error': CobranzaForm.$submitted&&!CobranzaForm.recurrencia.$valid}">
	    	<div class="row">
	    		<div class="col-xs-12 col-sm-6">
				  <label>
				    <input type="radio" name="recurrencia" ng-model="cobranza_data.recurrencia" value="una" ng-required="!cobranza_data.recurrencia">
				    Cobrar una sola vez
				  </label>
	    		</div>
	    		<div class="col-xs-12 col-sm-6">
				  <label>
				    <input type="radio" name="recurrencia" ng-model="cobranza_data.recurrencia" value="mensual" ng-required="!cobranza_data.recurrencia">
				    Cobrar mensualmente
				  </label>
	    		</div>
	    	</div>
	    </div>
	    <hr>
	    <div class="form-group" ng-class="{'radio_error': CobranzaForm.$submitted&&!CobranzaForm.cobrar_cuando.$valid}">
	  		<div class="row">
		    	<div class="col-xs-12 col-sm-6">
				  <label>
				    <input ng-disabled="cobranza_data.tipo_monto=='porcEgresos'" type="radio" name="cobrar_cuando" ng-model="cobranza_data.cobrar_cuando" value="inmediato" ng-required="!cobranza_data.cobrar_cuando">
				    Cobrar inmediatamente
				  </label>
		    	</div>
		    	<div class="col-xs-12 col-sm-6">
				  <label>
				    <input type="radio" name="cobrar_cuando" ng-model="cobranza_data.cobrar_cuando" value="relacion" ng-required="!cobranza_data.cobrar_cuando">
				    Incluir en relacion
				  </label>
		    	</div>
		    </div>
	    </div>
<!-- 	    <div class="form-group">
	    	<input type="checkbox" ng-model="cobranza_data.recurrente" name="recurrente">
	    	<label>¿Cobrar mensualmente?</label>
	    </div>

	    <div class="form-group">
	    	<input type="checkbox" ng-model="cobranza_data.recurrente" name="recurrente">
	    	<label>¿Cobrar mensualmente?</label>
	    </div> -->
<!-- 	    <div class="form-group has-feedback" ng-class="{ 'has-success' : CobranzaForm.monto.$valid && (CobranzaForm.monto.$touched || CobranzaForm.$submitted||CobranzaForm.monto.$dirty), 'has-error' : !CobranzaForm.monto.$valid && (CobranzaForm.monto.$touched || CobranzaForm.$submitted||CobranzaForm.monto.$dirty) }">
	      	<label class="sr-only">Monto</label>
	   		<input type="text" placeholder="Monto" name="monto" ng-model="cobranza_data.monto" class="form-control" autocomplete="off" ui-number-mask required> 
			<span class="glyphicon form-control-feedback" ng-class="{'glyphicon-ok' : CobranzaForm.monto.$valid && (CobranzaForm.monto.$dirty||CobranzaForm.monto.$touched), 'glyphicon-remove': (CobranzaForm.monto.$invalid && (CobranzaForm.monto.$dirty || CobranzaForm.$submitted||CobranzaForm.monto.$touched )) }" aria-hidden="true"></span>
			<div class="text-center">
				<div ng-messages="CobranzaForm.monto.$error" style="color:maroon" role="alert">
				   <code ng-if="CobranzaForm.monto.$touched || CobranzaForm.$submitted" ng-message="required">
				    <strong>Campo obligatorio</strong>
				   </code>
				</div>
			</div>
	    </div> -->

	</div>
	<div class="modal-footer">
	      <input type="submit" value="Cobrar" class="btn btn-success" >
	      <button type="button" class="btn btn-default" ng-click="cancel()">Cerrar</button>
	</div>
</form>