<head>
  <style type="text/css">
    .extra-info{
      font-size: 13px;
    }
    .well {
      background: rgb(251,245,215)!important;
    }
  </style>
</head>
<form ng-submit="registrarPaginaAmarilla()" class="center-block" name = "paginasAmarillasForm" id="paginasAmarillasForm" novalidate>
      <div class="modal-header text-center">
        <h3 class="text-center">Registro de paginas amarillas</h3>
      </div> 
      <div class="modal-body">

          <div class="form-group has-feedback" ng-class="{ 'has-success' : paginasAmarillasForm.oficio.$valid && (paginasAmarillasForm.oficio.$touched || paginasAmarillasForm.$submitted||paginasAmarillasForm.oficio.$dirty), 'has-error' : !paginasAmarillasForm.oficio.$valid && (paginasAmarillasForm.oficio.$touched || paginasAmarillasForm.$submitted||paginasAmarillasForm.oficio.$dirty) }">
            <label for="oficio" class="sr-only">oficio:</label>
            <input type="text" name="oficio"  ng-model="paginasAmarillasFormData.oficio" placeholder="Oficio" class="form-control" id="oficio" required>
            <span class="glyphicon form-control-feedback" ng-class="{'glyphicon-ok' : paginasAmarillasForm.oficio.$valid && (paginasAmarillasForm.oficio.$dirty||paginasAmarillasForm.oficio.$touched), 'glyphicon-remove': (paginasAmarillasForm.oficio.$invalid && (paginasAmarillasForm.oficio.$dirty || paginasAmarillasForm.$submitted||paginasAmarillasForm.oficio.$touched )) }" aria-hidden="true"></span>
            <div class="validationDiv text-center">
              <div ng-messages="paginasAmarillasForm.oficio.$error" style="color:maroon" role="alert">
                 <code ng-if="paginasAmarillasForm.oficio.$touched || paginasAmarillasForm.$submitted" ng-message="required">
                  <strong>Ingrese oficio</strong>
                 </code>
              </div>
            </div>
          </div>



          <div class="form-group has-feedback" ng-class="{ 'has-success' : paginasAmarillasForm.nombre.$valid && (paginasAmarillasForm.nombre.$touched || paginasAmarillasForm.$submitted||paginasAmarillasForm.nombre.$dirty), 'has-error' : !paginasAmarillasForm.nombre.$valid && (paginasAmarillasForm.nombre.$touched || paginasAmarillasForm.$submitted||paginasAmarillasForm.nombre.$dirty) }">
            <label for="nombre" class="sr-only">nombre:</label>
            <input type="text" name="nombre"  ng-model="paginasAmarillasFormData.nombre" placeholder="Nombre" class="form-control" id="nombre" required>
            <span class="glyphicon form-control-feedback" ng-class="{'glyphicon-ok' : paginasAmarillasForm.nombre.$valid && (paginasAmarillasForm.nombre.$dirty||paginasAmarillasForm.nombre.$touched), 'glyphicon-remove': (paginasAmarillasForm.nombre.$invalid && (paginasAmarillasForm.nombre.$dirty || paginasAmarillasForm.$submitted||paginasAmarillasForm.nombre.$touched )) }" aria-hidden="true"></span>
            <div class="validationDiv text-center">
              <div ng-messages="paginasAmarillasForm.nombre.$error" style="color:maroon" role="alert">
                 <code ng-if="paginasAmarillasForm.nombre.$touched || paginasAmarillasForm.$submitted" ng-message="required">
                  <strong>Ingrese nombre</strong>
                 </code>
              </div>
            </div>
          </div>

          <div class="form-group has-feedback" ng-class="{ 'has-success' : paginasAmarillasForm.mobil.$valid && (paginasAmarillasForm.mobil.$touched || paginasAmarillasForm.$submitted||paginasAmarillasForm.mobil.$dirty), 'has-error' : !paginasAmarillasForm.mobil.$valid && (paginasAmarillasForm.mobil.$touched || paginasAmarillasForm.$submitted||paginasAmarillasForm.mobil.$dirty) }">
            <label for="mobil" class="sr-only">mobil:</label>
            <input type="text" name="mobil"  ng-model="paginasAmarillasFormData.mobil" placeholder="Mobil" class="form-control" id="mobil" ng-required="!paginasAmarillasFormData.fijo">
            <span class="glyphicon form-control-feedback" ng-class="{'glyphicon-ok' : paginasAmarillasForm.mobil.$valid && (paginasAmarillasForm.mobil.$dirty||paginasAmarillasForm.mobil.$touched), 'glyphicon-remove': (paginasAmarillasForm.mobil.$invalid && (paginasAmarillasForm.mobil.$dirty || paginasAmarillasForm.$submitted||paginasAmarillasForm.mobil.$touched )) }" aria-hidden="true"></span>
            <div class="validationDiv text-center">
              <div ng-messages="paginasAmarillasForm.mobil.$error" style="color:maroon" role="alert">
                 <code ng-if="paginasAmarillasForm.mobil.$touched || paginasAmarillasForm.$submitted" ng-message="required">
                  <strong>Ingrese celular</strong>
                 </code>
              </div>
            </div>
          </div>


          <div class="form-group has-feedback" ng-class="{ 'has-success' : paginasAmarillasForm.fijo.$valid && (paginasAmarillasForm.fijo.$touched || paginasAmarillasForm.$submitted||paginasAmarillasForm.fijo.$dirty), 'has-error' : !paginasAmarillasForm.fijo.$valid && (paginasAmarillasForm.fijo.$touched || paginasAmarillasForm.$submitted||paginasAmarillasForm.fijo.$dirty) }">
            <label for="fijo" class="sr-only">fijo:</label>
            <input type="text" name="fijo"  ng-model="paginasAmarillasFormData.fijo" placeholder="Fijo" class="form-control" id="fijo" ng-required="!paginasAmarillasFormData.mobil">
            <span class="glyphicon form-control-feedback" ng-class="{'glyphicon-ok' : paginasAmarillasForm.fijo.$valid && (paginasAmarillasForm.fijo.$dirty||paginasAmarillasForm.fijo.$touched), 'glyphicon-remove': (paginasAmarillasForm.fijo.$invalid && (paginasAmarillasForm.fijo.$dirty || paginasAmarillasForm.$submitted||paginasAmarillasForm.fijo.$touched )) }" aria-hidden="true"></span>
            <div class="validationDiv text-center">
              <div ng-messages="paginasAmarillasForm.fijo.$error" style="color:maroon" role="alert">
                 <code ng-if="paginasAmarillasForm.fijo.$touched || paginasAmarillasForm.$submitted" ng-message="required">
                  <strong>Ingrese Fijo</strong>
                 </code>
              </div>
            </div>
          </div>





          <div class="form-group has-feedback" ng-class="{ 'has-success' : paginasAmarillasForm.email.$valid && (paginasAmarillasForm.email.$touched || paginasAmarillasForm.$submitted||paginasAmarillasForm.email.$dirty), 'has-error' : !paginasAmarillasForm.email.$valid && (paginasAmarillasForm.email.$touched || paginasAmarillasForm.$submitted||paginasAmarillasForm.email.$dirty) }">
            <label for="email" class="sr-only"></label>
            <input type="email" name="email" ng-model="paginasAmarillasFormData.email" placeholder="Correo Electronico" class="form-control" id="email" null-to-empty>
            <span class="glyphicon form-control-feedback" ng-class="{'glyphicon-ok' : paginasAmarillasForm.email.$valid && (paginasAmarillasForm.email.$dirty||paginasAmarillasForm.email.$touched), 'glyphicon-remove': (paginasAmarillasForm.email.$invalid && (paginasAmarillasForm.email.$dirty || paginasAmarillasForm.$submitted||paginasAmarillasForm.email.$touched )) }"  aria-hidden="true"></span>

            <div class="validationDiv text-center">
              <div ng-messages="paginasAmarillasForm.email.$error" style="color:maroon" role="alert">
                 <code ng-if="paginasAmarillasForm.email.$touched || paginasAmarillasForm.$submitted" ng-message="email">
                  <strong>Correo invalido</strong>
                 </code>
              </div>
          </div>
          </div>


      </div>

          </div>
  
      </div>
      <div class="modal-footer">
<!--         <input type="submit" id='agregaralista' value="Agregar" class="btn btn-success btn-block" ng-disabled="!paginasAmarillasForm.$valid"> -->
        <input ng-if="tipo=='agregar'" type="submit" id='agregaralista' value="Agregar" class="btn btn-success btn-block" ng-disabled="!paginasAmarillasForm.$valid">
        <input ng-if="tipo=='modificar'" type="submit" id='agregaralista' value="Agregar" class="btn btn-success btn-block" ng-disabled="!paginasAmarillasForm.$valid||paginasAmarillasForm.$pristine">
        <button type="button" class="btn btn-default btn-block" ng-click="cancel()">Cerrar</button>
      </div>
</form>
