<form ng-submit="selectMethod()" name="paymentMethodForm" novalidate>
  <div class="modal-header">
      <h3 class="text-center">Metodo de pago</h3>
  </div>
  <div class="modal-body"><br>
    <div class="row" style="font-size: 16px;">
      <div class="col-xs-4 col-sm-3">
        <b>Balance:</b>
      </div>
      <div class="col-xs-6">
        [[moneda]] [[balance|number:2]]
      </div>
    </div>
    <br>
  <select class="form-control" ng-model="method" name="method" required>
    <option value="">Seleccioned un metodo de pago</option>
    <option value="pago_propietario_dep">Deposito/Transferencia</option>
<!--     <option ng-disabled="!paymentMethod.activo" ng-repeat="paymentMethod in paymentMethods" value="[[paymentMethod.metodo_pago.nombre]]">[[paymentMethod.metodo_pago.nombre]]</option> -->
  </select>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" ng-click="cancel()">Cerrar</button>
    <button ng-disabled="!paymentMethodForm.$valid" type="submit" class="btn btn-success">Continuar</button>
  </div>
</form>


