<head>
	<style type="text/css">

		.table-responsive{
			margin-top:25px;
		}

	</style>
</head>
<div class="container">
<div class="panel panel-default">
	<div class="panel-heading">
		<h1 class="text-center">Ingresos</h1>
		<h4 class="text-center">( [[active_month|date:'MMMM yyyy' |capitalize]] )</h4>
	</div>
	<div class="panel-body">
        <div class="row button-row">
           <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">

              <button title="Refrescar lista" class="btn btn-info" ng-click="refresh()" type="button">
                <i class="fa fa-refresh" aria-hidden="true"></i>
              </button>
              <button ng-click="open1()" title="Buscar por mes" class="btn btn-info" type="button">
                <i class="fa fa-calendar" aria-hidden="true"></i>

              </button>  

			<select ng-model="country" name="country" required>
				<option value="">Pais:</option>
				<option ng-repeat="item in countries()" value="[[item]]">[[item]]</option>
			</select>

	        <p class="input-group">
	          <input type="text" show-button-bar ="false" ng-change="queryDate()" uib-datepicker-popup="[[format]]" ng-model="dt" is-open="popup1.opened"  datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" ng-show="false">
	        </p>

          </div>

        </div>
		<div class="table-responsive">
			<table class="table table-condensed table-bordered table-striped">
				<thead>
					<tr style="border-top: 1px solid #F1F1F1;text-align: center">
						<th class="text-center">Condominio</th>
						<th class="text-center">Pais</th>
						<th class="text-center">Fecha</th>
						<th class="text-center">Monto Factura</th>
						<th class="text-center">Comision</th>
						<th class="text-center">Adeudado</th>
					</tr>
					<tr>
						<th class="text-center">
							<span class="badge">[[ingresos_afiliado.length]]</span>
						</th>
						<th class="text-center">-</th>
						<th class="text-center">-</th>
						<th class="text-center">-</th>
						<th class="text-center">-</th>
						<th class="text-center">-</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-if="ingresos_afiliado.length==0">
						<td colspan="5">
							<h5>No posee ingresos</h5>
						</td>
					</tr>
					<tr ng-if="ingresos_afiliado.length>0" ng-repeat="ingreso in ingresos_afiliado|filter:{pais:pais}">
						<td align="center">[[ingreso.condominio_name|capitalize]]</td>
						<td align="center">[[ingreso.pais|capitalize]]</td>
						<td align="center">[[ingreso.created|date:'medium'|capitalize]]</td>
						<td align="center">[[(ingreso.monto/ingreso.comission)|number:'2'ingreso.currency]] </td>
						<td align="center">[[ingreso.comission|number:'2']]</td>
						<td align="center">[[ingreso.monto|number:'2'accounting:ingreso.currency]]</td>
					</tr>
				</tbody>
			</table>
		</div>
		
	</div>
</div>
</div>