



<head>
	<style type="text/css">
      table thead tr th{
        vertical-align:top!important;
      }
	body{
		padding-top: 90px;
	}

	.button-row{
		margin-bottom: 10px;
	}
/*	.generar{
		float:right;
		font-size: 22px
;		font-weight: bold;

	}

    @media (max-width: 441px) {
      	.generar{
      		float: left;
      		margin-top: 10px;
      		margin-bottom: 10px;
      	}
     }*/


	#latestRelacion{
		margin-top: 10px;

	}

	#latestRelacion .form-control{
		text-align: center;
	}
	</style>

</head>

<div class="row">


<div class="panel panel-default">
	<div class="panel-heading">
		<h2 class="text-center">Relacion de cuotas:</h2>
		<h4 class="text-center">[[relacionDate|date:'MMMM yyyy'|capitalize]]</h4>
	</div>
	<div class="panel-body">

        <div class="row button-row">
           	<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
              <button style="border-radius:20px;"  ng-click="crearRelacion()" title="Crear Relacion" class="btn btn-primary generar" type="button">
                <i class="fa fa-check " aria-hidden="true"></i>
                <span>Generar Relacion</span>
              </button>
<!--               <button title="Agregar Columna" class="btn btn-success" ng-click="addColumnModal()" type="button">
                <i class="fa fa-plus fa-2x" aria-hidden="true"></i>
              </button>
              <button title="Borrar Columna" class="btn btn-danger" ng-click="delCol()" type="button">
                <i class="fa fa-trash fa-2x" aria-hidden="true"></i>
              </button>
              <button ng-click="propagate()" title="Propagar monto a seleccion" class="btn btn-info" type="button">
                <i class="fa fa-bullhorn fa-2x" aria-hidden="true"></i>
              </button> -->
            </div>
        	<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
              <select ng-model="filter1" name="filter1" id="filter1" class="form-control input-lg">
                <option value="">Todos</option>
                <option value="junta_de_condominio">Junta de condominio</option>
                <option value="no_miembro">No Miembros</option>
                <option value="no_arrendado">Propietarios</option>
                <option value="arrendado">Arrendatarios</option>
                <option ng-repeat="category in categories" value="[[category.id]]">[[category.name]]</option>
              </select>
        	</div>
<!--             <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
              <button style="border-radius:20px;" ng-disabled="dataSetValid()" ng-click="crearRelacion()" title="Crear Relacion" class="btn btn-primary generar" type="button">
                <i class="fa fa-check " aria-hidden="true"></i>
                <span>Generar Relacion</span>
              </button>
            </div> -->
        </div>

		<div class="row">
			<div class="col-xs-12">
		<div class="table-responsive">
			<table id="latestRelacion" class="table table-striped table-condensed table-bordered">
				<thead class="text-center">
			        <tr>
			        	<!-- <th class="text-center"><input type="checkbox" ng-change="checkUncheck(master)" ng-model="master"></th> -->
				        <th class="text-center" ng-repeat="column in inmuebles.cols">[[column]]</th>
			        </tr>
			        <tr class="bg-warning">
			        	<!-- <th class="text-center">-</th> -->
			        	<th class="text-center" ng-repeat="column in inmuebles.cols">
			        		[[get_total(column)]]
			        	</th>
			        </tr>

				</thead>
				<tbody class="text-center">
					
					<tr ng-repeat="row in inmuebles.rows|customCheckFilter: master : filter1|customFilterInmueble:filter1:categories as filtered_inmuebles track by row.inmueble">
						<!-- <td><input string-to-number type="number" ng-model="row.id" hidden><input type="checkbox" ng-checked="masterCheck" ng-model="row.ischecked"></td> -->

						<td ng-repeat="column in inmuebles.cols">
							<!-- <form name="relacionForm" novalidate> -->
							<span><span ng-if="isNormalCol(column)==false"></span> [[getData(row, column)|accounting:userData.detalles_usuario.pais.moneda]]</span>
						</td>
					</tr>
					
				</tbody>
			</table>		
		</div>			
			</div>

		</div>			        

	</div>
</div>
